body,html {

    margin: 0;

  }

  .image {
    background-image: url("../images/IBM_Microbites_MockSite_120820.png")
    /*background-image: url("../images/IBM_Error500_MockSite_120820.jpg");*/
    background-size: 100%;
    background-repeat: no-repeat;
    height:300vh;
    }
